body{
    background-color: blue;
    font-family: Helvetica;
    margin: 0;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

.inicio{
    background-color: green;
}

#logo {
    display: inline-block;
    width: 100px;
    height: 40px;
}
#whats{
    display: inline-block;
    width: 100px;
    height: 40px;
    
}
#face{
    display: inline-block;
    width: 100px;
    height: 40px;
}
#insta{
    display: inline-block;
    width: 100px;
    height: 40px;
}


h1{
    text-align: center;
font-size: 8rem;
margin-bottom: -1rem;}

.slide{
    width: 480px;
    height: 380px;
    margin: 50px auto 0;
    overflow: hidden;
    animation: slide 16s infinite alternate ease-in-out;
}

.slide .imgul{
    display: flex;
    padding: 0%;
    width: 400%;
}

.slide .imgli{
    list-style: none;
    width: 100%;

}
.slide img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    40% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}
.proddest{
    border-top: 10px solid ;
    border-bottom: 10px solid;
    width: 80%;
    margin: auto;
}

.adi{
    border-bottom: 10px solid;
    width: 80%;
    margin: auto;


}


.final{
    background-color: aqua;
}